* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,input,textarea,p,th,td { 
    margin:0;
    padding:0;
}

body {
	font: 13px Arial, sans serif;
	background: #f8f8f8;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

ul {
	padding: 10px;
	list-style-type: none;
}

#header {
	position: fixed;
	height: 50px;
	width: 100%;
	padding: 5px;
	
	background: rgba(255,255,255,.75);
	border-bottom: 1px solid #dddddd;
	
	z-index: 10;
}

#nav {
	position: fixed;
	top: 50px;
	width: 250px;
	height: calc(100% - 50px);
	
	background: #f1f1f1;
	border-right: 1px solid #dddddd;
	font-size: 14px;
	line-height: 1.5em;
	overflow: auto;
}

.channel {
	cursor: pointer;
}

.channelName {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.channelUnwatched {
	float: right;
}

#content {
	position: relative;
	left: 250px;
	top: 50px;
	width: calc(100% - 250px);
	height: calc(100% - 50px);
	padding: 0 15px;
}

#login {
	float: right;
}

#refresh-button {
	display: none;
}


.vid {
	position: relative;
	margin: 10px 0;
	border: 1px solid #808080;
	padding: 10px 15px;
	overflow: hidden;
}
.vid.watched {
	background: #EEEEEE;
	opacity: 0.5;
}

.vidMarkWatched, .vidMarkUnwatched {
	position: absolute;
	top: 10px;
	right: 10px;
	
	cursor: pointer;
}
.vidMarkUnwatched { display: none; }
.watched .vidMarkUnwatched { display: block; }
.watched .vidMarkWatched { display: none; }

.vidUploader {
	height: 30px;
	
	font-size: 15px;
	font-weight: bold;
}

.vidUploader>a {
	color: #000000;
}
.vidUploader>a:hover {
	color: #000000;
	text-decoration: none;
}
.vidUploaderImg {
	margin-right: 10px;
	vertical-align: middle;
}
.vidUploaderName {
	vertical-align: middle;
}

.vidImg {
	float: left;
	width: 240px;
	height: 135px;
}

.vidText {
	float: left;
	width: calc(100% - 240px);
	padding-left: 15px;
}

.vidTitle {
	margin-bottom: 3px;
	font-size: 15px;
	font-weight: bold;
}

.vidTime {
	margin-bottom: 3px;
	color: gray;
	font-size:12px;
}
