<!DOCTYPE html>
<html ng-app="ytUploadsViewer">
<head>
	<script src="/oauth2/oauth2.js"></script>
	<script src="viewer.js"></script>
	<!--<script src="https://apis.google.com/js/client.js?onload=initGapi"></script>-->
	<link rel="stylesheet" type="text/css" href="viewer.css">
</head>
<body ng-view>
	<div id="header">
		<button id="reload-extension-button">Reload Extension</button>
		<button id="refreshButton">Refresh Videos</button>
		<div id="login"><button id="authorizeButton">Log In</button></div>
		<div id="channelControls">
			<button id="markAllWatched">Mark all watched</button>
		</div>
	</div>
	
	<div id="nav" ng-controller="channelsController">
		<ul id="subscriptions">
			<li class="channel" ng-repeat="(id, channel) in channels | orderObjectBy:'name' track by id" ng-click="select(channel)">
				<div class="channelLabel">
					<img ng-src="{{channel.thumb}}" class="channelThumb">
					<span class="channelName">{{channel.name}}</span>
				</div>
			</li>
		</ul>
	</div>
	
	<div id="content" ng-controller="videosController">
		<ul id="videos">
			<li ng-repeat="video in videosModel.uploads | orderObjectBy:'upload':true track by video.id">
				<div class="vid" ng-class="{watched: getWatched(video.channel,video.id)}">
					
					<div class="vidUploader">
						<a href="https://www.youtube.com/channel/{{video.channel}}" target="_blank">
							<img ng-src="{{getChannelThumb(video)}}" class="vidUploaderImg">
							<span class="vidUploaderName">{{getChannelName(video)}}</span>
						</a>
					</div>
					
					<div class="vidImg">
						<a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">
							<img ng-src="{{video.thumb}}" width="240">
						</a>
						<div class="vidDuration">{{video.dur}}</div>
					</div>
					
					<div class="vidText">
						<div class="vidTitle">
							<a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">{{video.title}}</a>
						</div>
						<div class="vidTime">{{getUploadTime(video)}}</div>
						<div class="vidDesc" ng-bind-html="getDescription(video)"></div>
					</div>
					
					<div class="vidMarkWatched" ng-click="markWatched(video.channel,video.id)">Mark watched</div>
					<div class="vidMarkUnwatched" ng-click="markUnwatched(video.channel,video.id)">Mark unwatched</div>
					
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
